@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&display=swap');

body {
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.fondo {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: rgba(26, 83, 118, 0.705);
}

.box {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.box_login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(26, 82, 118);
    width: 80vh;
    height: 90vh;
    border-radius: 20px;
    box-shadow: black 0.1em 0.1em 0.2em;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;

}

.label {
    display: flex;
    font-family: 'anek';
    color: #f0dc8f;
    padding: 0 10px;
    text-decoration-line: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
    justify-items: left;
}

.box1 {
    border-radius: 5px;
    text-decoration-line: none;
    font-size: 15px;
    width: 200px;

}

a {
    text-decoration-line: none;
    color: rgb(26, 82, 118);

}

.letra{
    font-size: 15px;
    font-family: 'anek';
    color: #f0dc8f;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.titulo {
    font-size: 30px;
    font-family: 'anek';
    color: #f0dc8f;
    text-shadow: black 0.1em 0.1em 0.2em;

}
.genero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.boton2 {
    margin-top: 20px;
    border-radius: 5px;
    font-style: none;
    font-size: 20px;
    font-family: 'anek';
    background-color: #f0dc8f;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 5px;
}
.boton2:hover {
    background-color: rgb(26, 82, 118);
    transform: translateY(-2px);
    
  }

  a:hover {
    color: rgb(240, 220, 143);

}

.img2 {
    display: flex;
    width: 200px;
    height: 180px;
    margin-right: 30px;
    margin-left: 40px;
}